@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Noto Sans Thai', sans-serif;
}

#head{
    text-align: center;
    margin-top: 1.5rem;
}

.box-main{
    width: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(111, 151, 203, 0.668);
    border-radius: 15px;
    border-left: 8px solid rgb(65, 144, 255);
    border-right: 8px solid rgb(65, 144, 255);;
}


#resistor {
    background-image: url('../img/resister.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    
}


#color-one,#color-two,#color-thee,#color-four{
    width: 15px;
    height: 87px;
}
.box-resistor-color{
    width: 130px;
    position: relative;
    left: 140px;
    top: 46px;
}
.box-resistor-color-four{
    width: 32px;
    position: relative;
    left: 329px;
    top: -40px;
}